<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>拍卖行 - 蚂蜂窝</title>


<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"d44ef44409b8818f76a117127733cabd_7d51e1fe39284b838bba9d0f4713412c","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>


<link href="http://css.mafengwo.net/css/game/pm_bank/index.css?1494310779" rel="stylesheet" type="text/css"/>

<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1504088626.js" type="text/javascript"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-315a5dcb4ca565105d17fc610e77ce08" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    


<div class="g-auction">
    <div class="t-banner">
        <div class="g-wrapper">
            <div class="m-crumb clearfix">
                <a href="/mall/">蜂蜜商城</a>
                <em></em>
                
                
                <a href="/mall/zhongchou.php?zid=10002">蜂蜜众筹</a>
                <em></em>
                <a class="on" href="/auction/"> 蚂蜂窝拍卖行</a>
                <em></em>
            </div>
            <div class="m-feng">
                <span class="m-word">已有</span>
                <div class="m-num">
                                            <span class="m-num1"><i>6</i></span>
                                            <span class="m-num1"><i>1</i></span>
                                            <span class="m-num1"><i>6</i></span>
                                            <span class="m-num1"><i>0</i></span>
                                    </div>
                <span class="m-word">蜂蜂入场</span>
            </div>
            <div class="m-content">
                <div class="t-wrapper">
                    
                                            <div class="m-titlev2"></div>
                                    </div>
                
                                <div class="m-cloud">
                    <span >郊游专场</span>
                </div>
                                <div class="m-cloud1"></div>
                <div class="m-cloud2"></div>
                <div class="m-cloud3"></div>
                <div class="m-ruyi"></div>
                <div class="m-info clearfix">
                    <div class="m-ruyi1"></div>
                    <div class="m-ruyi2"></div>
                    <div class="m-wrapper m-pming">
                        
                                                <div class="m-list">
                            <div class="m-item">
                                <ul class="s-special">
                                    
                                                                        
                                                                                                                        <li>
                                                <div class="i-wrapper clearfix">
                                                    <div class="i-left">
                                                        <a href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank"><img src="http://c1-q.mafengwo.net/s10/M00/1D/0D/wKgBZ1mf71mAcNINAAA2mGruAAk939.png?imageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90"/></a>
                                                    </div>
                                                    <div class="i-right">
                                                        <h4>乐扣乐扣保温杯一对</h4>
                                                        <p class="i-specialv2">成交价：3635蜂蜜<br><a href="/u/17076340.html" target="_blank"><img src="http://p2-q.mafengwo.net/s6/M00/D3/79/wKgB4lLwsoCAPc1DAAEqbOJmxRM88.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">David_古</a></p>
                                                        <a class="i-btn i-btnv2">已结束</a>
                                                    </div>
                                                </div>
                                                <a href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank"><span class="m-lot"><i>1号拍品</i>竞拍资格:LV.7</span></a>
                                            </li>
                                                                                    <li>
                                                <div class="i-wrapper clearfix">
                                                    <div class="i-left">
                                                        <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c-s.w4002-16773579593.58.6f79c998FIgNEg&amp;id=556339439556" target="_blank"><img src="http://n2-q.mafengwo.net/s10/M00/1D/D4/wKgBZ1mf8CyAJ9l4AABazsXzFBU837.png?imageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90"/></a>
                                                    </div>
                                                    <div class="i-right">
                                                        <h4>蚂蜂窝户外防水单肩包</h4>
                                                        <p class="i-specialv2">成交价：2121蜂蜜<br><a href="/u/5301432.html" target="_blank"><img src="http://c4-q.mafengwo.net/s4/M00/63/76/wKgByU_i0-iVZamKAABITSw795U70.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">Lauccc</a></p>
                                                        <a class="i-btn i-btnv2">已结束</a>
                                                    </div>
                                                </div>
                                                <a href="https://item.taobao.com/item.htm?spm=a1z10.3-c-s.w4002-16773579593.58.6f79c998FIgNEg&amp;id=556339439556" target="_blank"><span class="m-lot"><i>2号拍品</i>竞拍资格:LV.7</span></a>
                                            </li>
                                                                                    <li>
                                                <div class="i-wrapper clearfix">
                                                    <div class="i-left">
                                                        <a href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank"><img src="http://b3-q.mafengwo.net/s10/M00/1C/59/wKgBZ1mf7o2Ab3GTAABmPhPGSEU825.png?imageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90"/></a>
                                                    </div>
                                                    <div class="i-right">
                                                        <h4>户外便携烧烤炉</h4>
                                                        <p class="i-specialv2">成交价：1179蜂蜜<br><a href="/u/17351546.html" target="_blank"><img src="http://b4-q.mafengwo.net/s9/M00/C7/CB/wKgBs1aVvsqADiMkAAHs-l9N9_o45.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">Sunny</a></p>
                                                        <a class="i-btn i-btnv2">已结束</a>
                                                    </div>
                                                </div>
                                                <a href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank"><span class="m-lot"><i>3号拍品</i>竞拍资格:LV.7</span></a>
                                            </li>
                                                                                                            </ul>
                                <div class="m-record">
                                    <div class="r-title">我的拍卖记录</div>
                                                                            <div class="r-content" id="listContent"></div>
                                        <div class="r-page" id="paginationContent"></div>
                                                                    </div>
                            </div>
                        </div>
                        <div class="m-tw"></div>
                    </div>
                    <div class="m-wrapper1">
                        <div class="my_honey">
                            <div class="h-title"><a href="/i/3513124.html" target="_blank" class="rule"><i></i><span>规则须知</span></a></div>
                                                        <a href="javascript:;" class="exchange" style="display: none" data-japp="dialog_exchange">兑换成蜂蜜</a>
                        </div>
                        <div class="mBox">
                            <div class="mHd"><h3>拍卖动态</h3></div>
                            <div class="mBd mStatus">
                                                                <ul class="">
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1179蜂蜜</span><a target="_blank" href="/u/17351546.html">Sunny</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1174蜂蜜</span><a target="_blank" href="/u/59430901.html">纳比斯</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1162蜂蜜</span><a target="_blank" href="/u/70458212.html">西莫</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1152蜂蜜</span><a target="_blank" href="/u/93238113.html">Eric Y</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1052蜂蜜</span><a target="_blank" href="/u/87805859.html">香橙咕噜肉</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                            <li>
                                            <dl>
                                                <dt><span class="time">出价: 1042蜂蜜</span><a target="_blank" href="/u/31605950.html">天蓝</a></dt>
                                                <dd><span class="time">2天前</span>户外便携烧烤炉</dd>
                                            </dl>
                                        </li>
                                                                    </ul>
                                                            </div>
                        </div>
                        <div class="mBox">
                            <div class="mHd"><h3>今日竞拍胜利名单</h3><span class="red" style="font-size:12px;">(本月拍中，下月寄出~)</span></div>
                            <div class="mBd mWinlist">
                                                                    <ul class="">
                                                                                    <li><a href="/u/17351546.html" target="_blank"><img src="http://b4-q.mafengwo.net/s9/M00/C7/CB/wKgBs1aVvsqADiMkAAHs-l9N9_o45.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">Sunny</a> 以1179蜂蜜的价格拍得 <a class="c960" href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank" title="户外便携烧烤炉">户外便携烧烤炉</a></li>
                                                                                    <li><a href="/u/5301432.html" target="_blank"><img src="http://c4-q.mafengwo.net/s4/M00/63/76/wKgByU_i0-iVZamKAABITSw795U70.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">Lauccc</a> 以2121蜂蜜的价格拍得 <a class="c960" href="https://item.taobao.com/item.htm?spm=a1z10.3-c-s.w4002-16773579593.58.6f79c998FIgNEg&amp;id=556339439556" target="_blank" title="蚂蜂窝户外防水单肩包">蚂蜂窝户外防水单肩包</a></li>
                                                                                    <li><a href="/u/17076340.html" target="_blank"><img src="http://p2-q.mafengwo.net/s6/M00/D3/79/wKgB4lLwsoCAPc1DAAEqbOJmxRM88.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">David_古</a> 以3635蜂蜜的价格拍得 <a class="c960" href="http://www.mafengwo.cn/g/i/7473215.html" target="_blank" title="乐扣乐扣保温杯一对">乐扣乐扣保温杯一对</a></li>
                                                                            </ul>
                                                            </div>
                        </div>
                        <div class="mBox mComments">
                            <div id="_j_comment_cnt">

    <div class="mHd"><h3>留言板</h3></div>
    <div class="cmtBlock">
        <textarea class="_j_comment_pubarea"></textarea>
        <div class="mBox-button">
            <a class="mBox-release _j_comment_pubbtn">发布</a>
        </div>
    </div>


    <div class="cmtList _j_comment_list"></div>
    <div class="mFt pagin _j_comment_pagination"></div>

<script type="text/x-jquery-tmpl" id="_j_comment_item">
{{each(i, comment) comment_list}}
    <dl class="item _j_citem" data-cid="${comment.id}" data-username="${comment.user.name}">
        <dt>
            <a class="user" href="/u/${comment.uid}.html" target="_blank"><img width="16px;" src="${comment.user.logo_48}">${comment.user.name}</a>
            <span class="time">${comment.ymdhitime}</span>
            <span class="op">
              <a href="javascript:;" class="_j_quote">引用</a>
              <a href="javascript:;" class="_j_reply">回复</a>
            </span>
        </dt>
        <dd>${comment.content}</dd>
    </dl>
{{/each}}
</script>
    <script type="text/x-jquery-tmpl" id="_j_pagitmpl">
    {{if pageTotal > 1}}
        ${currPage}/${pageTotal}
        {{if currPage > 1}}
            <a id="next_2" class="prev _j_pageitem" href="javascript:void(0);" data-page="${currPage - 1}"></a>
        {{/if}}
        {{if currPage < pageTotal}}
            <a id="prev_2" class="next _j_pageitem" href="javascript:void(0);" data-page="${currPage + 1}"></a>
        {{/if}}
    {{/if}}
    </script>



<script>
M.closure(function(require) {
    var MComment = require("/js/activity/MComment");
    new MComment({"objid":"0","pubLogoSize":"w48","containerID":"_j_comment_cnt","commentItemTmpl":"_j_comment_item","id":"activity_comment","appid":"57","pagiTmpl":"_j_pagitmpl","pageSize":"6","pageDisplayNum":"5","_uid":"0"});
});
</script>

</div>

                        </div>
                        <div class="mBox mRank">
                            <div class="mHd"><h3>90天拍王排行榜</h3><span class="flt2">成功次数</span></div>
                                                            <ul class="">
                                                                            <li>
                                            <i >1</i><a href="/u/52001418.html" target="_blank" class="author"><img src="http://c4-q.mafengwo.net/s9/M00/3A/B6/wKgBs1btO_CAcdeJAAPW870zPD486.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="" width="16" height="16"></a><a href="/u/52001418.html" target="_blank" class="number">贼鸥007</a><span class="count">3次</span>
                                        </li>
                                                                            <li>
                                            <i >2</i><a href="/u/19036112.html" target="_blank" class="author"><img src="http://b1-q.mafengwo.net/s2/M00/A0/2A/wKgBpU45G7WtRa6jAAANg4BiOIo45.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="" width="16" height="16"></a><a href="/u/19036112.html" target="_blank" class="number">℡铭↗ぷOnly</a><span class="count">2次</span>
                                        </li>
                                                                            <li>
                                            <i >3</i><a href="/u/17351546.html" target="_blank" class="author"><img src="http://b4-q.mafengwo.net/s9/M00/C7/CB/wKgBs1aVvsqADiMkAAHs-l9N9_o45.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="" width="16" height="16"></a><a href="/u/17351546.html" target="_blank" class="number">Sunny</a><span class="count">2次</span>
                                        </li>
                                                                            <li>
                                            <i class="gray">4</i><a href="/u/84348454.html" target="_blank" class="author"><img src="http://p4-q.mafengwo.net/s6/M00/61/CC/wKgB4lOrlJCAB0zjAADAa5BeP5c37.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="" width="16" height="16"></a><a href="/u/84348454.html" target="_blank" class="number">本菇凉的本本</a><span class="count">2次</span>
                                        </li>
                                                                            <li>
                                            <i class="gray">5</i><a href="/u/63816646.html" target="_blank" class="author"><img src="http://p3-q.mafengwo.net/s9/M00/F5/8D/wKgBs1cyn6SADa1NAAOB7dzgqIQ17.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="" width="16" height="16"></a><a href="/u/63816646.html" target="_blank" class="number">云淡风轻</a><span class="count">2次</span>
                                        </li>
                                                                    </ul>
                                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="popBoxTpl" type="text/x-jquery-tmpl">
<div class="aucPop">
    <div class="aucPopRow1">最小加价：<b id="minPrice">0</b>蜂蜜，最大加价：<b id="maxPrice">0</b>蜂蜜</div>
    <input id="myPrice" class="aucPopRow2" placeholder="请输入加价金额">
    <div class="aucPopRow3"><p>出价金额：<b id="currentPrice">0</b>蜂蜜</p><span class="priceError" id="priceError1" style="display:none;">小于加价金额限度</span><span class="priceError" id="priceError2" style="display:none;">大于加价金额限度</span><span class="priceError" id="priceError3" style="display:none;">蜂蜜不足</span></div>
    <div class="aucPopRow5"><span>你有<b id="myHoney">0</b>蜂蜜</span><a href="javascript:;" title="出价" id="subBtn" class="btn disabled">出价</a></div>
</div>
</script>

    <script type="text/x-jquery-tmpl" id="_j_pager">
    {{if pageTotal > 1}}
        ${currPage}/${pageTotal}
        {{if currPage > 1}}
            <a id="next_2" class="prev _j_pageitem" href="javascript:void(0);" data-page="${currPage - 1}"><</a>
        {{/if}}
        {{if currPage < pageTotal}}
            <a id="prev_2" class="next _j_pageitem" href="javascript:void(0);" data-page="${currPage + 1}">></a>
        {{/if}}
    {{/if}}
    </script>

<script>
    
    $(function() {
        M.closure(function (require) {
                            var uid = 0;
                        var Alert = require('dialog/alert');
            var Dialog = require('dialog/Dialog');
            var popBoxTpl = $('#popBoxTpl').html();
            $('#autionBtn').on('click', function() {
                if (!uid) {
                    M.Event.fire('login:required');
                    return;
                }
                var product_lv = $(this).attr('data-level');
                if (product_lv == 99) {
                    if (!vip) {
                        Alert.pop('此拍品为VIP专享');
                        return;
                    }
                } else if (product_lv > level) {
                    Alert.pop('你的等级不够');
                    return;
                }
                var lid = $(this).attr('data-lid');
                var data = {
                    'act': 'getNowPrice',
                    'lid': lid
                };
                $.getJSON('/auction/ajax.php', data, function(res) {
                    if (res.data.last_uid == uid) {
                        Alert.pop('自己不能连续加价');
                        return;
                    }
                    var dialog = new Dialog({
                        'content': popBoxTpl,
                        'stackable': false,
                        'background': '#000',
                        'bgOpacity': 0.7
                    });
                    $('#myHoney').text(res.data.my_honey);
                    $('#currentPrice').text(res.data.price);
                    $('#myHoney').attr('data-currentPrice', res.data.price);
                    $('#minPrice').text(res.data.min_add);
                    $('#maxPrice').text(res.data.max_add);
                    dialog.show();
                });
            });
            //实时修改出价内容
            $('body').on('keyup', '#myPrice', function(){
                $('.priceError').hide();
                var myAdd = Number($(this).val());
                if (!myAdd) {
                    myAdd = 0;
                }
                var myHoney = $('#myHoney').text();
                var minPrice = $('#minPrice').text();
                var maxPrice = $('#maxPrice').text();
                var currPrice = $('#myHoney').attr('data-currentPrice');
                var newPrice = Number(currPrice) + myAdd;
                $('#myPrice').attr('data-add_price', myAdd);
                $('#currentPrice').text(newPrice);
                if (myAdd < minPrice) {
                    $('#priceError1').show();
                } else if (myAdd > maxPrice) {
                    $('#priceError2').show();
                } else if (newPrice > myHoney) {
                    $('#priceError3').show();
                }
                if ($('.priceError').is(':visible')) {
                    $('#subBtn').addClass('disabled');
                } else {
                    $('#subBtn').removeClass('disabled');
                }
            });
            $('body').on('click', '#subBtn', function() {
                var $self = $(this);
                if (!$(this).hasClass('disabled')) {
                    var addPrice = $('#myPrice').attr('data-add_price');
                    var conf = '确认加价' + addPrice + '蜂蜜？';
                    if (confirm(conf)) {
                        var data = {
                            'act': 'addRecord',
                            'lid': $('#autionBtn').attr('data-lid'),
                            'add_price': addPrice
                        };
                        $.post('/auction/ajax.php', data, function(res) {
                            if(!res.data.error){
                                Alert.pop('出价成功', function() {
                                    window.location.reload();
                                }, 3);
                            } else {
                                Alert.pop(res.data.error);
                            }
                        }, 'json');
                    }
                }
            });
        });
        //倒计时
        function timer(endTime, now) {
            var time = endTime - now - 1;
            setInterval(function() {
//                var date = new Date();
//                var now = parseInt(date.getTime() / 1000);
                if (time <= 0) {
                    window.location.reload();
                } else {
                    var str = formatTime(time);
                    $('#timer').html(str);
                    time--;
                }
            }, 1000);
        }
        //格式化时间
        function formatTime(time) {
            var str = '';
            var second = (time % 60).toString();
            if (second.length < 2) {
                second = '0' + second;
            }
            var minute = (parseInt(time / 60) % 60).toString();
            if (minute.length < 2) {
                minute = '0' + minute;
            }
            var hour   = (parseInt(parseInt(time / 60) / 60) % 24).toString();
            if (hour.length < 2) {
                hour = '0' + hour;
            }
            str = '<span class="m-num1"><i>' + hour + '</i>'
                    + '</span>:<span class="m-num1"><i>' + minute + '</i>'
                    + '</span>:<span class="m-num1"><i>' + second + '</i></span>';
            return str;
        }
            });
    
</script><link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+jquery.tmpl:js+M+module+Pagination:js+activity+MComment:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlRW^1493174421.js");
}
</script>

</body>
</html>
