<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>寻找旅行家,蚂蜂窝旅行家专栏 - 蚂蜂窝</title>
<meta name="keywords" content="寻找旅行家" />
<meta name="description" content="蚂蜂窝寻找旅行家以纪实专栏为主,分享各路旅行家不同视角的旅行经验,领略世界各国的文化历史风俗,寻找旅行家带你体验旅行的种种畅快,以及畅快旅行背后的文化氛围" />

<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"68a06dab996a015c9a571d8d5d0d2feb_c6e9e1081b08e74b19c448b1245cff15","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>

<link href="http://css.mafengwo.net/css/travellers/travellers_v2.css?1492702272" rel="stylesheet" type="text/css"/>


<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1504088626.js" type="text/javascript"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-9c0bf18905e3ae372f26fe9b559c7b9a" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    

<style type="text/css">
.book_list ul {height:140px}
.book_list ul li {position: static; float:left}
.book_desc {width:150px}
.book_thumb {width:100px}
.block-loading {position: absolute; width: 100%; height: 100%; top: 0; padding: 0; left: 0; z-index: 1; background:url(http://images.mafengwo.net/images/common/loading_big.gif) no-repeat center center rgba(255,255,255,0.9)}
.writen_list li {height:84px; overflow:hidden}

</style>


<input type="hidden" id="_j_sort" value="ctime" />
<div class="wrapper clearfix">
	<div class="main">
		<div class="thumb">
                             <a target="_blank" href="http://www.mafengwo.cn/traveller/zhuanti/1/1/10223.html">
                     <img src="https://c1-q.mafengwo.net/s10/M00/B1/AA/wKgBZ1mmbT-Aa7-5AAdAMellNu0096.png" alt="西北偏北" style="width:655px; height:345px">
                     <strong>西北偏北<i></i></strong>
                 </a>
            		</div>
		<div class="articles">
			<div class="art_title">
				<ul>
					<li><a href="/traveller/" title="最新文章" class="on">最新专栏<i></i></a></li>
					<li><a href="/traveller/?sort=hot" title="最热文章">最热专栏<i></i></a></li>
                    <li><a href="/traveller/?special=1" title="最热文章">热门话题<i></i></a></li>
				</ul>
                <!--
				<div class="head-search">
	                <form action="" method="get">
	                    <div class="s-input">
	                        <input autocomplete="off" type="text" value="搜索你想找的作者和文章">
	                    </div>
	                    <div class="s-button"><input type="submit" value=" "></div>
	                </form>
	            </div>
                -->
	            <div class="clear"></div>
			</div>
			<div class="art_con">
				<div class="art_list _j_articles">
                    <input type="hidden" id="_j_articlecount" value="1235" />
					<ul>
                                                        <li>
    <h3><a href="/traveller/article.php?id=1832" target="_blank" style="color:#666">于右任：一定要回三原！</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1832" target="_blank"><img src="http://n4-q.mafengwo.net/s10/M00/54/CE/wKgBZ1mj80qAC-ZJAAHheYyj0zw53.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="于右任：一定要回三原！" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">后来，台湾资深报人陆铿觉得应该这样去理解于右任的“一个指头、三个指头”：将来中国统一了，将他的灵柩运回大陆，归葬于陕西三原县故里。我以为应该更简单些，就是：一定要回三原！...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>170</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=178" target="_blank">狗子</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1829" target="_blank" style="color:#666">西北偏北：饮酒落泪</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1829" target="_blank"><img src="http://b3-q.mafengwo.net/s10/M00/51/53/wKgBZ1mj7ZCAKUkmAAaRbjbvzMQ36.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="西北偏北：饮酒落泪" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">我正在吃力地卸螺丝，他停止唱经，走到我身边，递给我一把刀——是一把锋利的藏刀。我问他这是干什么，他像立马就忘了刀的事情，岔开话题，告诉我那时他在戈壁滩上，看见的并不是一只骆驼，而是一个女人。说完，他就往山下走去。...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>392</span>
                    <span class="art_pl"><i></i>1</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=215" target="_blank">福</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1826" target="_blank" style="color:#666">前方灶头，有我的黄铜茶炊</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1826" target="_blank"><img src="http://b2-q.mafengwo.net/s10/M00/4E/B3/wKgBZ1mj6PeACSHSAAPOyHBqs2Y67.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="前方灶头，有我的黄铜茶炊" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">大清早还去杭州西湖边的杨公堤跑步，下午已经在西宁曹家堡机场，脖子上挂着哈达，也饮了青裸酒，目光对接远山之上羊群般的浮云。苍老的浮云。在踏上曹家堡机场的停机坪前，我通过昌耀先生一行行文字，感受着青海的日月星辰、山川大地；而等我到了西宁，我在午...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>150</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=68" target="_blank">薛荣</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1823" target="_blank" style="color:#666">青海青 黄河黄</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1823" target="_blank"><img src="http://n1-q.mafengwo.net/s10/M00/48/42/wKgBZ1mj4NOARnstAAQicK_8RCU64.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="青海青 黄河黄" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">四五月份，青海的春天才来，妈妈带着我和姐姐去种地，提着两暖瓶开水，掰上一块砖茶，拿上一块冰糖揣兜里，还有青海那厚厚的馍馍。袁世德也跟在屁股后面。我们慢慢地往林业局旁边的石嘴子走，路上要经过桥头发电厂的一段铁路，我们有时候不走大路，在铁轨上一...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>391</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=187" target="_blank">马大象</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1820" target="_blank" style="color:#666">昆仑秘境：山谷寻宝</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1820" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/44/8D/wKgBZ1mj3QOAfiEVAAcsN-MAsKc91.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="昆仑秘境：山谷寻宝" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">塔县是中国境内塔吉克族聚居的地方，无论是因为传言中的“与维族不和”还是别的什么原因，山谷里的塔吉克族居民对汉族友好亲近许多，或许是山谷里的生活让他们有种不问世事的超脱，安静偏远的处所，似乎也很少有大批汉人过来定居。...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>153</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=111" target="_blank">刘冉</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1817" target="_blank" style="color:#666">山北大地：微缩的新疆版图</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1817" target="_blank"><img src="http://p3-q.mafengwo.net/s10/M00/3B/7E/wKgBZ1mj0_uAGh2hAAQJPMvAzpw84.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="山北大地：微缩的新疆版图" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">我们终于如愿了，即使这种如愿仍然是十分有限的。这种有限性让我醒悟到，西北大地的山野毕竟是充满野性的。面对这座壮丽的雪山，虽然它只有4800米，但即使是在风和日丽的八月，通向它的征程也根本不是仅仅依靠汽车旅行就能完成的。人们必须不啬于进一步劳...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>122</span>
                    <span class="art_pl"><i></i>1</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=81" target="_blank">昆仑</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1814" target="_blank" style="color:#666">少年的梦：天山北麓雀尔沟</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1814" target="_blank"><img src="http://p1-q.mafengwo.net/s10/M00/33/61/wKgBZ1mjzW6ATWltAAS8fK501Y005.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="少年的梦：天山北麓雀尔沟" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">雀尔沟有着特别美丽的草原牧场，卡车和摩托车逐渐成为牧民们新的马匹，他们开车的感觉就像在表演杂技，这里的牧民真能把卡车开上没有公路的山脊，当然也有表演过头的，一般是喝多了酒，最终送了性命——在草原上，谁家的孩子丢掉性命似乎是一件很平常的事情，...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>111</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=184" target="_blank">丁海笑</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1811" target="_blank" style="color:#666">西北之路：从囊谦草原到须弥山</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1811" target="_blank"><img src="http://n4-q.mafengwo.net/s10/M00/30/E6/wKgBZ1mjy1yAdaBpAAXBNQOY3JI18.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="西北之路：从囊谦草原到须弥山" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">我眼里最标准的西北，应该是青海北部，整个甘肃和宁夏，以及河套平原以西的内蒙古。呼和浩特和银川，额济纳和张掖，西宁和兰州，尽管隔着省界，但你似乎不能把他们分开，他们就是天苍苍野茫茫的，孤苦伶仃的戈壁中，冰川下，黄河岸，黄沙包围的冲积平原上相依...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>253</span>
                    <span class="art_pl"><i></i>0</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=152" target="_blank">尼佬</a>
                    <span>2017-08-30</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1808" target="_blank" style="color:#666">要民族主义还是拥抱世界？</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1808" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/15/A3/wKgBZ1mf53CAQjbAAAZn2QpkUD863.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="要民族主义还是拥抱世界？" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">我也跟她提及记者和翻译探访难民营的被抢被奸的遭遇，以及中国社交媒体对她们这样好心人的“圣母”蔑称，Pamela无奈表示：“是不是圣母我不好辩驳，那些恶性新闻也加剧着法国人和你们中国人对难民的恐惧。我不敢保证这些新闻就是假的，但它在哪儿都有可...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>5797</span>
                    <span class="art_pl"><i></i>1</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=30" target="_blank">张海律</a>
                    <span>2017-08-25</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
        <li>
    <h3><a href="/traveller/article.php?id=1805" target="_blank" style="color:#666">去阳明山看林语堂先生</a></h3>
    <div class="art_item">
        <div class="art_thumb">
            <a href="/traveller/article.php?id=1805" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/39/35/wKgBZ1mdCnCAAVqWAAY-hZlx0-873.jpeg?imageMogr2%2Fthumbnail%2F%21300x170r%2Fgravity%2FCenter%2Fcrop%2F%21300x170%2Fquality%2F90" alt="去阳明山看林语堂先生" style="width:230px; height:140px" border="0"></a>
        </div>
        <div class="art_desc">
            <div class="art_word">他在一篇小品文《有不为斋解》里解释：“我厌烦费体力的事，永远不骑墙而坐；我不翻跟头，体能上的也罢，精神上的也罢，政治上的也罢。我甚至不知道怎么样趋时尚，看风头。我从来没有写过一行讨当局喜欢或是求取当局爱慕的文章。我也从来没说过讨哪个人喜欢的...</div>
            <div class="art_info">
                <div class="art_comm">
                    <span class="art_view"><i></i>3460</span>
                    <span class="art_pl"><i></i>3</span>
                </div>
                <div class="art_writen">
                    By <a href="/traveller/author.php?id=101" target="_blank">海尔森</a>
                    <span>2017-08-23</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>
    
                                            </ul>
                    <div id="_j_pagination" align="right" class="page-hotel"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="side">
		<div class="tra_logo">
			<img src="http://images.mafengwo.net/images/travellers/travellers_v2/p9.png" alt="">
		</div>
        <ul class="sina_weixin">
			<li><br>
				<a href="http://weibo.com/mafengwo2013" target="_blank"><img src="http://images.mafengwo.net/images/travellers/travellers_v2/sina.gif" alt=""></a>
				<p><a href="http://weibo.com/mafengwo2013" target="_blank">@寻找旅行家</a></p>
			</li>
			<li><img src="http://images.mafengwo.net/images/travellers/travellers_v2/weixin.gif" alt=""></li>
		</ul>
		
			
		
        <h1 style="padding-top: 20px;"><a href="/studio" title="蚂蜂窝旅行制片厂" target="_blank"><img src="http://images.mafengwo.net/images/activity/film_studio/file_logo.jpg" alt="蚂蜂窝旅行制片厂" title="蚂蜂窝旅行制片厂" width="270"></a></h1>
        		<div class="rec_list rec_book">
			<h2>推荐书籍</h2>
			<div class="book_list" style="height:160px">
				<div class="_j_slidecnt">
					<ul style="position:relative">
                        						<li>
							<div class="book_thumb"><a href="http://product.dangdang.com/24188940.html" target="blank"><img src="http://n1-q.mafengwo.net/s10/M00/9B/A5/wKgBZ1ir4ASAEPysAACPPUuTOLg77.jpeg" style="width:100px; height:140px"></a></div>
							<div class="book_desc">
								<h3><a href="http://product.dangdang.com/24188940.html" target="blank">环亚旅行</a></h3>
								<div class="book_word">穿越亚细亚漂浮的孤岛，所有的旅程都是归程。</div>
								<div class="book_writen">作者：<a href="/traveller/author.php?id=" target="_blank"></a></div>
							</div>
							<div class="clear"></div>
						</li>
                        						<li>
							<div class="book_thumb"><a href="http://product.dangdang.com/24142338.html" target="blank"><img src="http://c4-q.mafengwo.net/s9/M00/7E/34/wKgBs1hGXb6ABGNfAABjtUplbsw82.jpeg" style="width:100px; height:140px"></a></div>
							<div class="book_desc">
								<h3><a href="http://product.dangdang.com/24142338.html" target="blank">一路向心</a></h3>
								<div class="book_word">一人一单车，在空气稀薄地带骑行中尼公路、阿里南线、川藏公路、阿里北线，24个与骑行有关的故事，他只是想知道自己究竟在什么情况下会选择放弃？</div>
								<div class="book_writen">作者：<a href="/traveller/author.php?id=" target="_blank"></a></div>
							</div>
							<div class="clear"></div>
						</li>
                        					</ul>
				</div>
                				<a class="disable btn-prev _j_prev" style="cursor:pointer; left:0"></a>
				<a class="btn-next _j_next" style="cursor:pointer"></a>
                <ol class="dot-nav _j_indexercnt" style="overflow: hidden;position: absolute; height:auto; margin:0; bottom:-3px">
                                        <li class="on" data-index="1"></li>
                                        <li class="" data-index="2"></li>
                                	</ol>
                			</div>
		</div>
        		<div class="rec_list">
			<h2>推荐作者</h2>
			<div class="writen_list">
				<ul class="_j_authorlist"><li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=144" target="_blank"><img src="http://p2-q.mafengwo.net/s7/M00/72/18/wKgB6lSGe7aAJ93vAABizcGBn8g90.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=144" target="_blank">净源</a></h3>
        <div class="writen_word">不是旅行，只是一直在满世界换着地儿生活，亚非欧美都有过家；笃信该什么阶段做什么事情，十年从事项目融资得以周游天下，一朝隐退江湖养儿育女宜室宜家，现居美国西雅图，自由职业。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=145" target="_blank"><img src="http://b3-q.mafengwo.net/s7/M00/13/C6/wKgB6lSOV3KAUtxYAABD8cQX4kI13.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=145" target="_blank">葱婶</a></h3>
        <div class="writen_word">自由撰稿人，旅行者，曾独自游历世界各地一年，《间隔年，一个女孩在游行》作者；射手座，喜欢看书也喜欢骑摩托车。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=30" target="_blank"><img src="http://p2-q.mafengwo.net/s5/M00/B4/6B/wKgB3FGIluaAO8FZAACIG4ZGG6g82.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=30" target="_blank">张海律</a></h3>
        <div class="writen_word">已深度走访60国的新现实主义环球旅行者，战地（后）记者，近东和巴尔干音乐和文化采集者，国际电影节采访者及影评人，音乐节玩家，电影外景地收集人；在路上就是在上班，趁着旅行运和人品玩，抓紧深啃世界。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=155" target="_blank"><img src="http://c1-q.mafengwo.net/s8/M00/CC/28/wKgBpVUjR8iAF_-ZAAC4NdUPjuw01.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=155" target="_blank">奇拉</a></h3>
        <div class="writen_word">被汉化的蒙古人，漫游癖重症，世界音乐爱好者，无酒不欢的异域风搭配小能手，不吃蔬菜，但在寻找当地美食这方面有着过人的天赋，同伴比风景重要，内心想法高于一切，走出去了便再也回不来，这个世界远比想象中美好。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=140" target="_blank"><img src="http://n2-q.mafengwo.net/s7/M00/4A/36/wKgB6lR2sUqAecQzAABqqfoTvyc63.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=140" target="_blank">刘子超</a></h3>
        <div class="writen_word">旅行作家、资深媒体人、定制旅行策划师；1984年生于北京，2007年毕业于北京大学中文系；2012年中德媒体使者，2015-2016年牛津大学访问学者；先后任职于《南方人物周刊》、《GQ》中文版、《ACROSS穿越》；曾获2010年刘丽安诗歌奖、2014年“蚂蜂窝”年度旅行家；旅行文学作品《午夜降临前抵达》现已出版。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=101" target="_blank"><img src="http://c1-q.mafengwo.net/s7/M00/23/5E/wKgB6lPzBOiAPgpbAABRfpuQB4E40.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=101" target="_blank">海尔森</a></h3>
        <div class="writen_word">业余游民，现居广州。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=194" target="_blank"><img src="http://b2-q.mafengwo.net/s9/M00/48/39/wKgBs1hSDXiABuLmAABdqYRpPU863.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=194" target="_blank">孙小兽</a></h3>
        <div class="writen_word">野生独立写作者。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=116" target="_blank"><img src="http://p2-q.mafengwo.net/s7/M00/4E/B0/wKgB6lOzvguAcucjAABBBKZFuXY79.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=116" target="_blank">喜喜</a></h3>
        <div class="writen_word">自由记者，神经大条、不可救药的乐观主义者，对任何事情都保持好奇，身体里永远充满冒险因子，那些看起来越神秘的国家越吸引我。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=178" target="_blank"><img src="http://p4-q.mafengwo.net/s8/M00/96/77/wKgBpVXdjwmAcOI9AACdtR63TYY40.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=178" target="_blank">狗子</a></h3>
        <div class="writen_word">本名贾新栩，1966年生于北京，出版有长篇小说《一个啤酒主义者的独白》1、2，随笔集《一个寄生虫的愤怒》，《活去吧》，《散德行》。</div>
    </div>
    <div class="clear"></div>
</li>
<li>
    <div class="writen_thumb"><a href="/traveller/author.php?id=183" target="_blank"><img src="http://c3-q.mafengwo.net/s8/M00/AD/1B/wKgBpVYoxQ-ABbGDAACIzIuWzv062.jpeg" style="width:70px; height:70px"></a></div>
    <div class="writen_desc">
        <h3><a href="/traveller/author.php?id=183" target="_blank">雷梓</a></h3>
        <div class="writen_word">白族，资深媒体人，行踪遍及中国，惟余台湾；有些地方于我，已超越旅行概念，而成为灵魂居所；曾在东南亚诸国浪迹半年，十四次去到青海湖，并以十日徒步环湖；与爱人相伴，逆沅水、酉水漫游湘西全境。</div>
    </div>
    <div class="clear"></div>
</li>
</ul>
			</div>
			<div class="writen_change"><a href="#" title="换一批" class="_j_changeauthor">换一批</a></div>
		</div>
        		<div class="ad">
			<a href="http://www.mafengwo.cn/g/i/7423055.html" target="_blank"><img src="http://p1-q.mafengwo.net/s10/M00/EB/92/wKgBZ1mVaNWAMpGUAAFwyDw-ksc598.png" style="width:270px; height:180px"></a>
		</div>
        	</div>
</div>

<script id="article_pagination" type="text/x-jquery-tmpl">
{{if pageTotal > 1}}
<span class="count">共<span>${pageTotal}</span>页 / <span>${total}</span>条</span>
<a class="ti first _j_pageitem" data-page="1" href="#">首页</a>
{{if currPage > 1}}
<a class="ti prev _j_pageitem" data-page="${currPage - 1}" href="#">前一页</a>
{{/if}}
{{each(i, index) indexers}}
{{if index == currPage}}
<span class="this-page">${index}</span>
{{else}}
<a class="ti _j_pageitem" data-page="${index}" href="#">${index}</a>
{{/if}}
{{/each}}
{{if currPage < pageTotal}}
<a class="ti next _j_pageitem" data-page="${currPage + 1}" href="#">后一页</a>
{{/if}}
<a class="ti last _j_pageitem" data-page="${pageTotal}" href="#">末页</a>
{{/if}}
</script>


<link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+M+module+Slider:js+jquery.tmpl:js+M+module+Pagination:js+jquery.scrollTo:js+ATravellerIndex:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZldV^1493174421.js");
}
</script>

</body>
</html>
