<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>真人兽报名 - 蚂蜂窝</title>
<meta name="keywords" content="真人兽,真人秀,真人兽报名" />

<script type="text/javascript">
window.Env = {"total":1191,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"86f8e2cee98a9faa9b36c163c48e8f14_6f4d65d42519e7b98d98634ea77a8176","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>

<link href="http://css.mafengwo.net/css/cv/css+app+photo_vs:css+app+newphoto_vs:css+activity+person_show+show_new:css+activity+person_show+applicant^YlVW^1493174418.css" rel="stylesheet" type="text/css"/>


<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1504088626.js" type="text/javascript"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-b405710cf48c2e72e51ffc9dafe04e6b" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    

<div class="container baoming">
    <!-- 头图 -->
    <div class="banner">
    <a>
        <img src="http://n4-q.mafengwo.net/s10/M00/DA/36/wKgBZ1lA4UGATnt1AA_qr9UQs_M12.jpeg?imageMogr2%2Fthumbnail%2F%211920x440r%2Fgravity%2FCenter%2Fcrop%2F%211920x440%2Fquality%2F90" alt="" width="100%">
    </a>
    
        
            
                
            
                
            
                
            
        
        
    
</div>
    <!-- 导航 -->
    <div class="nav">
    <div class="wapper">
        <span class="navL">
            <i class="ture"></i>
            <i class="what"></i>
        </span>
        <ul class="clearfix">
            <li class=""><a href="/show/" title="首页">主页</a></li>
            <li class="on"><a  title="我要报名">我要报名</a></li>
            <li class=""><a href="/show/winner/" title="获奖动态">获奖动态</a></li>
            <li class=""><a href="/show/top/" title="蜂云榜">蜂云榜</a></li>
            <li class=""><a href="/g/12044.html" title="进入小组" target="_blank">进入小组</a></li>
        </ul>
    </div>
</div>

    <div class="bd">
        <div class="wapper">
            <dl class="prize clearfix">
                <dt class="bear">
                <div class="body">
                    <img src="http://c4-q.mafengwo.net/s10/M00/CC/F1/wKgBZ1lA1-SAXtbKAAOORku0HlU30.jpeg?imageMogr2%2Fthumbnail%2F%21300x300r%2Fgravity%2FCenter%2Fcrop%2F%21300x300%2Fquality%2F90" alt="">
                </div>
                <span class="eye eyeL">
        <i></i>
    </span>
                <span class="eye eyeR">
        <i></i>
    </span>
                <span class="hand handL"></span>
                <span class="hand handR"></span>
                <span class="foot footL"></span>
                <span class="foot footR"></span>
                <i class="headline"></i>
                <p>蚂蜂窝世界旅行手绘版T恤</p>
                </dt>
                <dd class="mm-t">
                    <div class="title"></div>
                    <div class="">
                        <p><i>1</i>发表过含有自己照片游记的蜂蜂都可以申请.</p>
                        <p><i>2</i>每期选出五位蜂蜂,登上真人兽舞台.</p>
                        <p><i>3</i>参加截止至<span>7月5日</span></p>
                    </div>
                    <a href="http://www.mafengwo.cn/g/i/7153130.html" target="_blank" class="detail">报名详情&gt;&gt;</a>
                </dd>
                <dd class="mm-s">
                    <div class="title"></div>
                    <div class="">
                        <p><i>1</i>点击“我要报名”选择一篇自己的游记.</p>
                        <p><i>2</i>选出一张有自己且符合本期真人兽主题的照片.</p>
                        <p><i>3</i>每期根据游记选出<span> 五位蜂蜂 </span>成为真人兽.</p>
                    </div>
                </dd>
                <dd class="apply-b clearfix">
                    <span></span>
                    <a href="" class="btns _j_show_add" data-type="0" data-on=""
                       data-num="0">
                        <img src="http://images.mafengwo.net/images/activity/person_show/apply.png" alt="">
                    </a>
                    <div class="share clearfix" id="_j_reality_sharecnt_1" data-type="reality_show"
                         data-title="蚂蜂窝真人兽《姿势交流大会》" data-content="#蚂蜂窝真人兽#向往置身在一段精美的旅行之中，渴望、期待、享受、分享，点点滴滴都是一种回忆！我在蚂蜂窝参加第20期真人兽《姿势交流大会》，报名就送蜂蜜，你也来看看吧"
                         data-pic="http://n4-q.mafengwo.net/s10/M00/DA/36/wKgBZ1lA4UGATnt1AA_qr9UQs_M12.jpeg" data-url="http://www.mafengwo.cn/focus/show_add.php">
                        <p></p>
                        <a role="button" title="分享到新浪" class="sina" data-japp="activity_share" data-key="wb"
                           data-data_dom_id="_j_reality_sharecnt_1"><i></i></a>
                        <a role="button" title="分享到微信" class="weixin" data-japp="activity_share" data-key="wx"
                           data-openwindow="0" data-data_dom_id="_j_reality_sharecnt_1"><i></i></a>
                        <a role="button" title="分享到qq空间" class="qqzone" data-japp="activity_share" data-key="qz"
                           data-data_dom_id="_j_reality_sharecnt_1"><i></i></a>
                    </div>
                </dd>
            </dl>
            <!-- 蜂范儿	 -->
            <div class="mm-works">
                <div class="title"></div>
                <div class="sub-nav clearfix">
                    <a href="" class="_j_show_sort" data-flag="1">全部作品</a>
                    <a href="" class="on _j_show_sort" data-flag="2">最热作品</a>
                    <a href="" class="_j_show_sort" data-flag="3">好友作品</a>
                    <a href="" class="_j_show_sort" data-flag="4">我的作品</a>
                </div>
                <div class="works">
                    <div class="myworks _j_not_show hide">
                        <a href="" class="_j_show_add" title="我要报名" data-type="0" data-on=""
                           data-num="0"><img
                                    src="http://images.mafengwo.net/images/activity/person_show/apply.png" alt=""></a>
                    </div>
                    <div class="fworks _j_not_friend_show hide">
                        
                        
                        
                        
                        <div class="share clearfix" id="_j_reality_sharecnt_2" data-type="reality_show"
                             data-title="《请上传一张大海的照片》"
                             data-content="这张照片很棒哦！我给在蚂蜂窝《请上传一张大海的照片》主题的照片PK给它投了一票，你觉得我的品味如何？看看什么是好照片。"
                             data-pic="http://file108.mafengwo.net/s8/M00/0B/41/wKgBpVWw7sqAXyDAAE7HWAhhhbg16.jpeg?imageMogr2%2Fstrip%7CimageView2%2F2%2Fw%2F400%2Fh%2F400%2Fq%2F90"
                             data-url="http://www.130.mafengwo.cn/photo_pk/pk.php?lid=85988">
                            <p></p>
                            <a role="button" title="分享到新浪" class="sina" data-japp="activity_share" data-key="wb"
                               data-data_dom_id="_j_reality_sharecnt_2"><i></i></a>
                            <a role="button" title="分享到微信" class="weixin" data-japp="activity_share" data-key="wx"
                               data-openwindow="0" data-data_dom_id="_j_reality_sharecnt_2"><i></i></a>
                            <a role="button" title="分享到qq空间" class="qqzone" data-japp="activity_share" data-key="qz"
                               data-data_dom_id="_j_reality_sharecnt_2"><i></i></a>
                        </div>
                    </div>
                    <ul class="clearfix _j_show_add_list">
                            <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/81836167.html" class="author" target="_blank"><img src="http://b2-q.mafengwo.net/s9/M00/EA/37/wKgBs1dm1rqANzrmAACTyl3n-cg98.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/81836167.html" class="name" target="_blank">Yoli_CHIC</a>
                <p>【蜂首纪念】香港 | 穿梭在城市森林与森林城市 •  一枚港漂的旅行志</p>
            </div>
            <a href="/i/7139201.html" target="_blank">
                <img src="http://c1-q.mafengwo.net/s10/M00/58/A1/wKgBZ1lGlTCAFxs1AB2UIEebAk4107.png?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>嗖嗖嗖～🔥火影忍者影分身之术🔥</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="7139201"
                                     data-show_id="20" data-uid="81836167"></i><span
                        class="_j_num">3160</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/940322.html" class="author" target="_blank"><img src="http://p3-q.mafengwo.net/s10/M00/E3/19/wKgBZ1mFhzWAe4eBAACv-MWF-1U11.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/940322.html" class="name" target="_blank">kido</a>
                <p>寻找阿拉丁│在波斯帝国的闯荡</p>
            </div>
            <a href="/i/7023248.html" target="_blank">
                <img src="http://p2-q.mafengwo.net/s10/M00/E7/06/wKgBZ1kg942AVzCKAAV5qCyHKJw406.gif?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>咿呀咿呀哟哦~哦~哦~哦~哦~~~</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="7023248"
                                     data-show_id="20" data-uid="940322"></i><span
                        class="_j_num">2890</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/19963071.html" class="author" target="_blank"><img src="http://b1-q.mafengwo.net/s10/M00/B0/62/wKgBZ1ldq-yADTIKAADGArXSEQI36.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/19963071.html" class="name" target="_blank">只喝可乐的鱼</a>
                <p>这年夏天我和你躲在，这一大片宁静的海—濑户内海小岛之旅</p>
            </div>
            <a href="/i/6254783.html" target="_blank">
                <img src="http://p2-q.mafengwo.net/s9/M00/63/D2/wKgBs1gMUiiAFy3sABLLl-uqCNQ75.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>💗💗💗</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6254783"
                                     data-show_id="20" data-uid="19963071"></i><span
                        class="_j_num">2890</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/658466.html" class="author" target="_blank"><img src="http://n2-q.mafengwo.net/s9/M00/73/FB/wKgBs1dM2uaAYFjlABFJL0k8oDA11.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/658466.html" class="name" target="_blank">钢牙小嘉</a>
                <p>浮光掠影意大利 | 爱你如画，念你如诗【意大利中北部游】</p>
            </div>
            <a href="/i/6517865.html" target="_blank">
                <img src="http://c3-q.mafengwo.net/s9/M00/BA/6D/wKgBs1hRPDqAUllwAAhFAKyRU1U14.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>分裂成不一样的我😑</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6517865"
                                     data-show_id="20" data-uid="658466"></i><span
                        class="_j_num">2710</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/66886432.html" class="author" target="_blank"><img src="http://c1-q.mafengwo.net/s9/M00/3C/F3/wKgBs1a5Yj6ATBD3AABPNplPapM06.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/66886432.html" class="name" target="_blank">期待我的圣托里尼</a>
                <p>【Mina不在家】难得南德，我和闺蜜的格林童话之旅</p>
            </div>
            <a href="/i/6311858.html" target="_blank">
                <img src="http://c4-q.mafengwo.net/s9/M00/D8/2B/wKgBs1f85EWARmRcAAi2x8zzhDw54.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>#和闺蜜一起看世界#为了拍摄这组公主与后妈的照片，在德国小镇街头，我们一路被围观</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6311858"
                                     data-show_id="20" data-uid="66886432"></i><span
                        class="_j_num">2400</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/53271190.html" class="author" target="_blank"><img src="http://n2-q.mafengwo.net/s6/M00/AC/E5/wKgB4lMbBJOABlITAAIShZYThoY59.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/53271190.html" class="name" target="_blank">若谷</a>
                <p>【去世界的每一个角落舞蹈】到金兰结义，在大叻大乐——越南8日</p>
            </div>
            <a href="/i/7045424.html" target="_blank">
                <img src="http://n3-q.mafengwo.net/s10/M00/95/8A/wKgBZ1knj7uAU8rGAAY_UXnZ7aM73.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>业余凹姿十级水平:)</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="7045424"
                                     data-show_id="20" data-uid="53271190"></i><span
                        class="_j_num">2360</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/102065.html" class="author" target="_blank"><img src="http://b4-q.mafengwo.net/s5/M00/B9/8E/wKgB3FH3NmqANAI8AAEmPsCKGBI81.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/102065.html" class="name" target="_blank">爱拉</a>
                <p>「爱拉手绘」 牵手十年  有你,丽江的春天真美!</p>
            </div>
            <a href="/i/6694616.html" target="_blank">
                <img src="http://b2-q.mafengwo.net/s10/M00/A2/0C/wKgBZ1in31SAej5oAAjYgkWXXIk68.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>在丽江用用三脚架完成了，结婚十周年的婚纱自拍，美的已经飞起来呢。</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6694616"
                                     data-show_id="20" data-uid="102065"></i><span
                        class="_j_num">2280</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/80098919.html" class="author" target="_blank"><img src="http://p4-q.mafengwo.net/s9/M00/00/46/wKgBs1eJk6eAQ5kRAALH8QVXDpA45.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/80098919.html" class="name" target="_blank">东来西往</a>
                <p>2017我的色达之旅</p>
            </div>
            <a href="/i/6992879.html" target="_blank">
                <img src="http://p3-q.mafengwo.net/s10/M00/59/03/wKgBZ1kUlFmAdi9MAAjcvBY7dNs52.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>虔诚</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6992879"
                                     data-show_id="20" data-uid="80098919"></i><span
                        class="_j_num">1890</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/53271190.html" class="author" target="_blank"><img src="http://n2-q.mafengwo.net/s6/M00/AC/E5/wKgB4lMbBJOABlITAAIShZYThoY59.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/53271190.html" class="name" target="_blank">若谷</a>
                <p>【飞鸟孤山即为「岛」】长岛微风——放一个小假，去海边捉小鱼小虾</p>
            </div>
            <a href="/i/5556542.html" target="_blank">
                <img src="http://b1-q.mafengwo.net/s9/M00/98/4E/wKgBs1eU2O-ARkYwAAVy5au-2_U66.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>哈哈哈有个花护铁儿cosplay我，比心@kido</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="5556542"
                                     data-show_id="20" data-uid="53271190"></i><span
                        class="_j_num">1880</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/68424341.html" class="author" target="_blank"><img src="http://c3-q.mafengwo.net/s7/M00/95/7D/wKgB6lR9wRqAUvj2AAF05AhPVyA19.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/68424341.html" class="name" target="_blank">看风景的心情</a>
                <p>老牛爱旅行  之  不走寻常路，夫妻自驾游泰国</p>
            </div>
            <a href="/i/7122806.html" target="_blank">
                <img src="http://c2-q.mafengwo.net/s10/M00/A4/14/wKgBZ1lB2AGAXuGzABPUVGkajww47.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>童趣</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="7122806"
                                     data-show_id="20" data-uid="68424341"></i><span
                        class="_j_num">1860</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/76748383.html" class="author" target="_blank"><img src="http://p3-q.mafengwo.net/s10/M00/29/6D/wKgBZ1jc-7GAdapQAAwVIJGLT5Q63.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/76748383.html" class="name" target="_blank">王九爷殿下</a>
                <p>圣彼得堡夏宫掠影—与俄罗斯美女共舞</p>
            </div>
            <a href="/i/6725657.html" target="_blank">
                <img src="http://b2-q.mafengwo.net/s10/M00/FB/A5/wKgBZ1jzHqeAeMbzABEpHj9bPqU51.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>与俄罗斯美女共舞！</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="6725657"
                                     data-show_id="20" data-uid="76748383"></i><span
                        class="_j_num">1840</span></div>
            
            
            
        </div>
    </li>
    <li>
        <div class="pic">
            <div class="cover">
                <a href="/u/193656.html" class="author" target="_blank"><img src="http://c3-q.mafengwo.net/s8/M00/00/94/wKgBpVVvCSSAYXkUAAHwRV8tlYk01.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                                                                  style="width: 32px;height: 32px"
                                                                                  alt=""></a>
                <a href="/u/193656.html" class="name" target="_blank">小A</a>
                <p>第二个夏天——带着闺蜜去旅行【三亚篇】</p>
            </div>
            <a href="/i/3257017.html" target="_blank">
                <img src="http://p2-q.mafengwo.net/s7/M00/1B/A6/wKgB6lR9TtyATBXvAAOwzKOK5wo42.jpeg?imageMogr2%2Fthumbnail%2F%21900x600r%2Fgravity%2FCenter%2Fcrop%2F%21900x600%2Fquality%2F100" style="width: 300px;height: 200px;" alt="">
            </a>
        </div>
        <div class="vote clearfix">
            <p>没错，我就是后面那只猴子</p>
            <div class=" zan_num"><i class="_j_give_good " data-note_id="3257017"
                                     data-show_id="20" data-uid="193656"></i><span
                        class="_j_num">1780</span></div>
            
            
            
        </div>
    </li>

                    </ul>
                </div>
                <div class="pagin" id="smallpager"></div>
            </div>
            <!-- 蜂言蜂语与获奖蜂蜂 -->
            <div class="bd_s clearfix">
                <div class="comment">
                    <div class="title"></div>
                    <div id="_j_comment_cnt">

<div class="addComment clearfix">
    <textarea class="_j_comment_pubarea"></textarea>
    <input class="_j_comment_pubbtn" type="button" value="发布">
</div>


<div class="commentList _j_comment_list"></div>
<div class="page _j_comment_pagination"></div>

<script type="text/x-jquery-tmpl" id="_j_comment_item">
{{each(i, comment) comment_list}}
<dl class="_j_citem" data-cid="${comment.id}" data-username="${comment.user.name}">
    <dt>
        <a href="/u/${comment.uid}.html" target="_blank"><img src="${comment.user.logo_48}"></a>
    </dt>
    <dd>
        <a href="/u/${comment.uid}.html" target="_blank">${comment.user.name}</a>
        <span class="time">${comment.ymdhitime}</span>
        <a href="#" class="lv _j_quote">引用</a>
        <a href="#" class="reply _j_reply">回复</a>
    </dd>
    <dd><p>${comment.content}</p></dd>
</dl>
{{/each}}
</script>



<script>
M.closure(function(require) {
    var MComment = require("/js/activity/MComment");
    new MComment({"objid":"0","pubLogoSize":"w48","containerID":"_j_comment_cnt","commentItemTmpl":"_j_comment_item","id":"activity_comment","appid":"55","pagiTmpl":"_j_pagitmpl","pageSize":"10","pageDisplayNum":"4","_uid":"0"});
});
</script>

</div>

                </div>
                
                
                
                
                
                
                
            </div>
        </div>
    </div>
</div>

    <script type="text/x-jquery-tmpl" id="_j_pagitmpl">
{{if pageTotal > 1}}
<div align="right" class="page">
    <span class="count">共<span>${pageTotal}</span>页 / <span>${total}</span>条</span>
    {{if currPage > 1}}
    <a class="ti prev _j_pageitem" data-page="${currPage - 1}">前一页</a>
    {{/if}}
    {{if indexers[indexers.length-1] > 10}}
    <a class="ti _j_pageitem" data-page="1">1...</a>
    {{/if}}
    {{each(i, index) indexers}}
    {{if index == currPage}}
    <span class="ti this-page">${index}</span>
    {{else}}
    <a class="ti _j_pageitem" data-page="${index}">${index}</a>
    {{/if}}
    {{/each}}
    {{if indexers[indexers.length-1] < pageTotal}}
    <a class="ti _j_pageitem" data-page="${pageTotal}">...${pageTotal}</a>
    {{/if}}
    {{if currPage < pageTotal}}
    <a class="ti next _j_pageitem" data-page="${currPage + 1}">后一页</a>
    {{/if}}
</div>
{{/if}}




    </script>


<script type="text/x-jquery-tmpl" id="_j_note_pagination">
    
{{if pageTotal > 1}}
共篇${total}游记
<span class="fr">
<a {{if currPage > 1}}data-page="${currPage - 1}"{{/if}} class="btn-left {{if currPage > 1}}_j_pageitem{{/if}}" title="上一页">&lt;</a>
<a {{if currPage < pageTotal}}data-page="${currPage + 1}"{{/if}} class="btn-right {{if currPage < pageTotal}}_j_pageitem{{/if}}" title="下一页">&gt;</a>
</span>
{{/if}}





</script>
<script type="text/x-jquery-tmpl" id="_j_pic_pagination">
    
{{if pageTotal > 1}}
{{if currPage > 1}}
<a class="ti this-page _j_pageitem" href="#" data-page="${currPage - 1}">&lt;&lt;prev</a>
{{/if}}
{{each(i, index) indexers}}
{{if index == currPage}}
<a class="ti this-page">${index}</a>
{{else}}
<a class="ti _j_pageitem" data-page="${index}">${index}</a>
{{/if}}
{{/each}}
{{if currPage < pageTotal}}
<a class="ti _j_pageitem this-page" href="#" data-page="${currPage + 1}">next&gt;&gt;</a>
{{/if}}
{{/if}}





</script>
<link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+jquery.tmpl:js+M+module+Pagination:js+activity+MComment:js+jquery.upnum:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+focus+reality_show_add:js+focus+slide_top:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlJV^1493174421.js");
}
</script>

</body>
</html>
