<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>道具商店 - 蚂蜂窝</title>


<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"31262c17807d4ceaf73f506a68275bf1_6f4d65d42519e7b98d98634ea77a8176","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>



<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1504088626.js" type="text/javascript"></script>
<script type="text/javascript">
var __mfw_uid = parseInt('0');
</script>
<script language="javascript" src="http://js.mafengwo.net/js/cv/js+common+jquery.plugins:js+common+widgets:js+mfw.storage^ZlI^1493174421.js" type="text/javascript"></script>
<link href="http://css.mafengwo.net/css/daoju.css?1493174418" rel="stylesheet" type="text/css"/>
<script language="javascript" src="http://js.mafengwo.net/js/cv/js+hb+hb:js+hb+common:js+hb+Request:js+m.sns.share:js+qa+common^ZVY^1493174421.js" type="text/javascript"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-3b15242716a21509c33c8333fa4a58d2" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    


<div class="container">

    <div class="mt-nav clearfix">
    <a class="btn" href="/mall/my_exchange.php#list" target="_blank"><i></i>我的兑换</a></span>
    <a href="/i/2947856.html" class="mt_what" title="蜂蜜是什么" target="_blank">蜂蜜是什么？如何获得蜂蜜</a>
    <a href="/mall/" >蜂蜜兑换</a>
    <a href="/mall/things.php" >蚂蜂窝周边<span>HOT</span></a>
    <!-- <a href="/mall/lottery.php"  >幸运大转盘</a> -->
    <a href="/mall/zhongchou.php?zid=10002" >蜂蜜众筹<i class="ask_new_ico"></i></a>
    <a href="/mall/virtual_goods.php" class="on">道具商店</a>
</div>


    <!-- banner -->
    <div class="banner">
        <img src="http://images.mafengwo.net/images/daoju/banner.jpg" alt="">
    </div>

    <div class="row clearfix">
        <div class="col-main">

            <div class="daoju_tab">
                <a class="active _j_goods_tab" data-index="0">道具商店</a>
                <a class="_j_goods_tab" data-index="1">我的道具</a>
                <strong style="left: 0px"></strong>
            </div>
            <div class="daoju_list clearfix _j_goods_list" data-flag="0" data-total="2">
                <ul>
                        <li class="_j_goods_li">
                <div class="info">
                    <a href="http://www.mafengwo.cn/i/5572235.html" target="_blank">
                        <img src="http://b3-q.mafengwo.net/s9/M00/D0/FC/wKgBs1eQOmaACRA-AAA3GcTdIkI593.png?imageMogr2%2Fthumbnail%2F%21298x298r%2Fgravity%2FCenter%2Fcrop%2F%21298x298%2Fquality%2F100" alt="神奇逗猫棒">
                        <div class="name">神奇逗猫棒<span>剩余196</span></div>
                                            </a>
                </div>
                <div class="buy">
                    <span><i class="icon_gold"></i>10000</span>
                                                                        <a class="btn_buy _j_buy" data-id="2">购买</a>
                                                            </div>
                            </li>
                    <li class="_j_goods_li">
                <div class="info">
                    <a href="http://www.mafengwo.cn/i/5572247.html" target="_blank">
                        <img src="http://c3-q.mafengwo.net/s10/M00/B7/99/wKgBZ1kvfUaAQIFxAADvdsddvUI16.jpeg?imageMogr2%2Fthumbnail%2F%21298x298r%2Fgravity%2FCenter%2Fcrop%2F%21298x298%2Fquality%2F100" alt="补打卡胶囊">
                        <div class="name">补打卡胶囊<span>剩余0</span></div>
                                                    <i class="state1"></i>
                                            </a>
                </div>
                <div class="buy">
                    <span><i class="icon_gold"></i>0</span>
                                            <a class="btn_buy disabled _j_not_buy">购买</a>
                                    </div>
                            </li>
                        <li class="coming_soon">
            <div class="info"></div>
        </li>
    </ul>
            </div>
            <div class="pagin" id="smallpager"></div>

        </div>
        <div class="col-side">

            
            <div class="side_cmt">
                <div class="tit">留言板</div>
                <div class="con">
                    <div id="_j_comment_cnt">

<div class="addComment clearfix">
    <div class="pub">
        <textarea class="_j_comment_pubarea"></textarea>
        <input type="button" class="_j_comment_pubbtn" value="发表留言">
    </div>
</div>


<div class="commentList _j_comment_list"></div>
<div class="page _j_comment_pagination"></div>

<script type="text/x-jquery-tmpl" id="_j_comment_item">
<ul class="cmt_list">
{{each(i, comment) comment_list}}
    <li class="_j_citem" data-cid="${comment.id}" data-username="${comment.user.name}">
        <a href="/u/${comment.uid}.html" class="photo"><img src="${comment.user.logo_48}"></a>
        <a href="/u/${comment.uid}.html" class="user">${comment.user.name}</a>
        <a href="/u/${comment.uid}.html" class="level">LV.${comment.user.user_lv}</a>
        <a href="#" class="_j_reply">回复</a>
        <span class="date">${comment.ymdhitime}</span>
        <p>${comment.content}</p>
    </li>
{{/each}}
</ul>
</script>



<script>
M.closure(function(require) {
    var MComment = require("/js/activity/MComment");
    new MComment({"objid":"0","pubLogoSize":"w48","containerID":"_j_comment_cnt","commentItemTmpl":"_j_comment_item","id":"activity_comment","appid":"70","pagiTmpl":"_j_pagitmpl","pageSize":"6","pageDisplayNum":"1","_uid":"0"});
});
</script>

</div>

                </div>
            </div>

        </div>
    </div>
</div>

    <script type="text/x-jquery-tmpl" id="_j_pagitmpl">
{{if pageTotal > 1}}
   <div class="pagin">
        <span>${currPage}/${pageTotal}</span>
            {{if currPage > 1}}
        <a title="上一页" href="#" class="btn-left _j_pageitem" data-page="${currPage - 1}"></a>
            {{/if}}
                {{if currPage < pageTotal}}
        <a title="下一页" href="#" class="btn-right _j_pageitem" data-page="${currPage + 1}"></a>
            {{/if}}
    </div>
{{/if}}
</script>
    <script type="text/x-jquery-tmpl" id="pagination_tmpl">
{{if pageTotal > 1}}
<div align="right" class="page-box">
    <span class="count">共<span>${pageTotal}</span>页 / <span>${total}</span>条</span>
    {{if currPage > 1}}
    <a class="ti prev _j_pageitem" data-page="${currPage - 1}">前一页</a>
    {{/if}}
    {{if indexers[indexers.length-1] > 10}}
    <a class="ti _j_pageitem" data-page="1">1...</a>
    {{/if}}
    {{each(i, index) indexers}}
    {{if index == currPage}}
    <span class="ti this-page">${index}</span>
    {{else}}
    <a class="ti _j_pageitem" data-page="${index}">${index}</a>
    {{/if}}
    {{/each}}
    {{if indexers[indexers.length-1] < pageTotal}}
    <a class="ti _j_pageitem" data-page="${pageTotal}">...${pageTotal}</a>
    {{/if}}
    {{if currPage < pageTotal}}
    <a class="ti next _j_pageitem" data-page="${currPage + 1}">后一页</a>
    {{/if}}
</div>
{{/if}}
    </script>



<script>
    M.closure(function(require){
        var Alert = require('dialog/alert'),
            Confirm = require('dialog/confirm');

        // page
        var Pagination = require('Pagination'),
        page = new Pagination({
            'container': '#smallpager',
            'tmpl': '#pagination_tmpl',
            'total': $('._j_goods_list').data('total'),
            'pageSize': 6,
            'pageDisplayNum': 4,
            'callback': function(pageIndex) {
                goodsList(pageIndex);
            }
        });
        page.drawPage();

        var flag = $('._j_goods_list').data('flag');
        $('._j_goods_tab').click(function(ev){
            var index = $(ev.currentTarget).data('index');
            if(index != flag){
                flag = index;
                $('._j_goods_tab').removeClass('active');
                $(ev.currentTarget).addClass('active');
                $(ev.currentTarget).siblings('strong').animate({left:180*flag},300);
                goodsList(0);
            }
        });

        function goodsList(page){
            $.get('/mall/ajax_virtual_goods/list',{ 'flag':flag,'page':page},function(res){
                if(!res.error && res.data.html){
                    $('._j_goods_list').html(res.data.html);
                    resetPage(page,res.data.total);
                    if(flag == 1 && res.data.total == 0){
                        $('._j_goods_list').html('<div class="daoju_none">\
                                <img src="http://images.mafengwo.net/images/daoju/none.png" alt="">\
                                <p>你还没有购买过任何道具哦~</p>\
                        </div>');
                    }
                }
            },'json');
        }

        function resetPage(pageIndex, total) {
            pageIndex = pageIndex ? pageIndex : pageIndex + 1;
            page.currPage = pageIndex;
            if(total > 0) {
                $('#smallpager').show();
                page.total = total;
            }else{
                $('#smallpager').hide();
            }
            page.drawPage();
        }

        var uid = window.Env.UID,
                canClick = true;
        $('._j_goods_list').delegate('._j_buy','click',function(ev){
            if(!uid){
                window.location.href = 'https://passport.mafengwo.cn/';
            }
            var id = $(ev.currentTarget).data('id');
            if(id){
                Confirm.pop('确认购买？',function(){
                    if(canClick){
                        canClick = false;
                        $.post('/mall/ajax_virtual_goods/buy',{ 'id':id,'num':1},function(res){
                            if(!res.error && res.data.data){
                                if(res.data.data.check == 0){
                                    Alert.pop('请联系管理员');
                                }else if(res.data.data.check == 2){
                                    Alert.pop('购买的商品已下架');
                                }else if(res.data.data.check == 3){
                                    Alert.pop('购买的商品无足够库存');
                                }else if(res.data.data.check == 4){
                                    Alert.pop('你已超过改商品的购买次数');
                                }else if(res.data.data.check == 5){
                                    Alert.pop('不能超过该商品的拥有数量');
                                }else if(res.data.data.check == 6){
                                    Alert.pop('你的金币不够');
                                }else if(res.data.data.check == 7){
                                    Alert.pop('你的蜂蜜不够');
                                }else{
                                    Alert.pop('购买成功','',3);
                                    window.location.href = '/mall/virtual_goods.php?flag=1';
                                }
                            }
                            canClick = true;
                        });
                    }
                });
            }
        }).delegate('._j_not_buy','click',function(){
            Alert.pop('不能购买');
        }).delegate('._j_not_buy_times','click',function(){
            Alert.pop('此道具你已超过购买次数');
        }).delegate('._j_not_use','click',function(){
            Alert.pop('不能使用');
        });

        M.Event.on('virtual_goods_used',function(agr){
            var orderId = agr.order_id,
                userNum = agr.used_num,
                nowNuM = $('._j_order_'+orderId+'').find('._j_can_user_num').data('num'),
                num = nowNuM - userNum ? nowNuM - userNum : 0;
            $('._j_order_'+orderId+'').find('._j_can_user_num').html('可用'+num);
        });
    });
</script>

<link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+jquery.tmpl:js+M+module+Pagination:js+activity+MComment:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+dialog+confirm:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlFR^1493174421.js");
}
</script>

</body>
</html>
