<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>照片PK，跟你走 vs 吃西瓜的蝙蝠 - 蚂蜂窝</title>


<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"389d633848d3028e8839752e90264f5c_7d51e1fe39284b838bba9d0f4713412c","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1498629963.css" rel="stylesheet" type="text/css"/>


<link href="http://css.mafengwo.net/css/cv/css+app+photo_vs:css+app+newphoto_vs^YFM^1493174418.css" rel="stylesheet" type="text/css"/>

<script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1504088626.js" type="text/javascript"></script>

</head>
<body>
    
    <div class="topBar">
        <div class="topBarC">
            <div class="logo"><a title="蚂蜂窝自由行" href="/">蚂蜂窝自由行</a></div>
            <div class="t_nav">
                <ul id="pnl_nav" data-cs-t="headnav_wo">
                    <li data-cs-p="index">
                        <strong class="t"><a href="/">首页</a></strong>
                    </li>
                    <li data-cs-t="wenda" data-cs-p="wenda">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">问答</a></strong>
                    </li>
                    <li data-cs-t="things" data-cs-p="things">
                        <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">蚂蜂窝周边</a></strong>
                    </li>
                    <li data-cs-p="together">
                        <strong class="t"><a href="/together/">结伴</a></strong>
                    </li>
                    <li data-cs-p="group">
                        <strong class="t"><a href="/group/">小组</a></strong>
                    </li>
                    <li data-cs-p="mall">
                        <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                    </li>
                    <li class="drop" data-cs-p="other">
                        <strong class="t"><a href="/app/hun.php">更多<b></b></a></strong>
                        <div class="c">
                            
                            <a href="/focus/" target="_blank">真人兽</a>
                            
                            <a href="/school/" target="_blank">蚂蜂窝高校</a>
                            <a href="/photo_pk/pk.php" target="_blank">照片PK</a>
                            <a href="/auction/" target="_blank">蚂蜂窝拍卖行</a>
                            <a href="/mall/virtual_goods.php" target="_blank">道具商店</a>
                            <a href="/radio/" target="_blank">旅行电台</a>
                            <a href="/club/" target="_blank">蜂首聚乐部</a>
                            <a href="/home/vip_show.php" target="_blank">VIP</a>
                            <a href="/game/wager.php" target="_blank">分歧终端机</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="t_search">
                <form method="GET" action="/search/s.php" name="search">
                    <input type="text" class="key" value="" name="q" id="word">
                    <input type="submit" value="" class="btn">
                </form>
            </div>

            <div class="t_info">
            <div data-pagelet id="pagelet-block-8dc77deee32702ad527ea818556f1eef" class="" data-api="apps:user:pagelet:pageViewHeadInfo" data-params="{&quot;type&quot;:2}" data-async="1" data-controller="/js/pageletcommon/pageHeadUserInfoWWWDark"></div>
            </div>
        </div>
    </div>
    


<div class="photoVs_wrap">
<div class="sub_nav clearfix">
  <ul class="nav_l fl">
    <li class="on"><a>照片PK</a></li>
    <li><a href="/photo_pk/rank.php">排行榜</a></li>
    <li><a href="/photo_pk/friend.php">支持好友</a><i class="ask_new_ico"></i></li>
    <li><a href="/photo_pk/my.php">我的作品</a></li> 
    <li><a href="/photo_pk/prev.php">往期回顾</a></li>
    <li><a href="/g/10939.html" target="_blank">进入小组</a></li>
  </ul>
  <ul class="nav_r fr">
      <li class="rule" style="position:relative"><a href="/i/513555.html" target="_blank">照片PK游戏规则</a><i class="ask_new_ico" style="right: -15px;"></i></li>
      <li class="btns"><a href="/photo_pk/apply.php?next=1">下期报名</a></li>
      <li class="btns on"><a href="/photo_pk/apply.php" class="current">上传作品</a></li>
  </ul>
</div>

<div class="topic_info"><strong>本期主题：《神奇动物在哪里》</strong> 本期活动时间：08月23日 - 09月27日17时</div>
<div class="photoVS_banner" id="_j_banner">
    <ul class="clearfix _j_bannerlist">
                    <li class="fl"><a href="http://www.mafengwo.cn/g/i/7459910.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/50/C4/wKgBZ1mdI2CAaJrRAATeOFxnxhw05.jpeg"></a></li>
                    <li class="fl"><a href="http://www.mafengwo.cn/g/i/3459600.html" target="_blank"><img src="http://n3-q.mafengwo.net/s10/M00/17/3C/wKgBZ1kj3-uAaMPyAAJETDE2yH863.jpeg"></a></li>
            </ul>
    <ol>
                    <li class="_j_indexer fl"></li>
                    <li class="_j_indexer fl"></li>
            </ol>
</div>

<div class="photo_vs photo_vs1">
    <div class="photo_vsL" id="_j_left_work"><div class="vs_t clearfix">
    <div class="share" id="_j_sharecnt_195302" data-title="《神奇动物在哪里》" data-content="这张照片很棒哦！我给在蚂蜂窝《神奇动物在哪里》主题的照片PK给它投了一票，你觉得我的品味如何？看看什么是好照片。" data-pic="http://n4-q.mafengwo.net/s8/M00/09/F8/wKgBpVVh_KmAEpW7ABKLTIkROw891.jpeg?imageView2%2F2%2Fw%2F400%2Fh%2F400%2Fq%2F90" data-url="http://www.mafengwo.cn/photo_pk/pk.php?lid=195302">
      <span>分享到：</span>
      <a role="button" title="分享到新浪" class="sina" data-japp="activity_share" data-key="wb" data-data_dom_id="_j_sharecnt_195302"></a>
      <a role="button" title="分享到微信" class="weixin weixin_tips" data-japp="activity_share" data-wx_qr="http://www.mafengwo.cn/qrcode.php?text=http%3A%2F%2Fm.mafengwo.cn%2Fphoto_pk%2Fwork.php%3Fid%3D195302&size=150&eclevel=H&logo=&__stk__=389d633848d3028e8839752e90264f5c_7d51e1fe39284b838bba9d0f4713412c" data-key="wx" data-openwindow="0" data-data_dom_id="_j_sharecnt_195302"></a>
      <a role="button" title="分享到qq空间" class="qqzone" data-japp="activity_share" data-key="qz" data-data_dom_id="_j_sharecnt_195302"></a>
    </div>
    <span class="count">共<em class="_j_score">1433</em>票</span> 
</div>
<div class="photo">
    <span><a href="http://n4-q.mafengwo.net/s8/M00/09/F8/wKgBpVVh_KmAEpW7ABKLTIkROw891.jpeg" target="_blank" style="cursor:zoom-in"><img src="http://n4-q.mafengwo.net/s8/M00/09/F8/wKgBpVVh_KmAEpW7ABKLTIkROw891.jpeg?imageView2%2F2%2Fw%2F400%2Fh%2F400%2Fq%2F90"></a></span>
</div>
<div class="photo_info">
    <div class="title">跟你走</div>
    <div class="byU">
      by
      <a href="/u/75119676.html" target="_blank"><img src="http://n4-q.mafengwo.net/s9/M00/E7/A2/wKgBs1fW5VOASSrtAABfLhthL2g70.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90"></a>
      <a href="/u/75119676.html" target="_blank">青蛙呱呱</a>
    </div>
    <div class="clear"></div>
    <h4>摄于：吐鲁番</h4>        <h4>来自游记：<a href="/i/3386345.html" target="_blank">西域游记——天山天池&amp;吐鲁番</a></h4>
        <p class="desc">吐鲁番的葡萄沟里的两只小羊羊。</p>
</div>
</div>
    <div class="photo_vsR" id="_j_right_work"><div class="vs_t clearfix">
    <div class="share" id="_j_sharecnt_195326" data-title="《神奇动物在哪里》" data-content="这张照片很棒哦！我给在蚂蜂窝《神奇动物在哪里》主题的照片PK给它投了一票，你觉得我的品味如何？看看什么是好照片。" data-pic="http://b3-q.mafengwo.net/s7/M00/6A/04/wKgB6lT9jfuAHKp9AA1dlUOxdUI57.jpeg?imageView2%2F2%2Fw%2F400%2Fh%2F400%2Fq%2F90" data-url="http://www.mafengwo.cn/photo_pk/pk.php?lid=195326">
      <span>分享到：</span>
      <a role="button" title="分享到新浪" class="sina" data-japp="activity_share" data-key="wb" data-data_dom_id="_j_sharecnt_195326"></a>
      <a role="button" title="分享到微信" class="weixin weixin_tips" data-japp="activity_share" data-wx_qr="http://www.mafengwo.cn/qrcode.php?text=http%3A%2F%2Fm.mafengwo.cn%2Fphoto_pk%2Fwork.php%3Fid%3D195326&size=150&eclevel=H&logo=&__stk__=389d633848d3028e8839752e90264f5c_7d51e1fe39284b838bba9d0f4713412c" data-key="wx" data-openwindow="0" data-data_dom_id="_j_sharecnt_195326"></a>
      <a role="button" title="分享到qq空间" class="qqzone" data-japp="activity_share" data-key="qz" data-data_dom_id="_j_sharecnt_195326"></a>
    </div>
    <span class="count">共<em class="_j_score">1541</em>票</span> 
</div>
<div class="photo">
    <span><a href="http://b3-q.mafengwo.net/s7/M00/6A/04/wKgB6lT9jfuAHKp9AA1dlUOxdUI57.jpeg" target="_blank" style="cursor:zoom-in"><img src="http://b3-q.mafengwo.net/s7/M00/6A/04/wKgB6lT9jfuAHKp9AA1dlUOxdUI57.jpeg?imageView2%2F2%2Fw%2F400%2Fh%2F400%2Fq%2F90"></a></span>
</div>
<div class="photo_info">
    <div class="title">吃西瓜的蝙蝠</div>
    <div class="byU">
      by
      <a href="/u/972739.html" target="_blank"><img src="http://b2-q.mafengwo.net/s9/M00/38/A9/wKgBs1dgK_OAYTbYAAiX5EHMkCI08.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90"></a>
      <a href="/u/972739.html" target="_blank">一簬晑北</a>
    </div>
    <div class="clear"></div>
    <h4>摄于：新加坡动物园</h4>        <h4>来自游记：<a href="/i/3320273.html" target="_blank">【狮城 | 大马】把爸爸妈妈揣进口袋里去旅行</a></h4>
        <p class="desc">你一定在黑夜里看过蝙蝠，但是在白天看过吗？而且是吃西瓜的蝙蝠。</p>
</div>
</div>
    <div class="photo_vsC">
      <a hidefocus="hide" class="btn1 _j_vote" data-position="left" data-id="195302" role="button">支持TA</a>
      <a hidefocus="hide" class="btn2 _j_vote" data-position="right" data-id="195326" role="button">支持TA</a>
      <a class="txt _j_exchange_group" role="button">换一组</a>
    </div>
    <div class="clear"></div>
</div>
<script type="text/x-jquery-tmpl" id="_j_pagitmpl">

{{if pageTotal > 0}}
{{if currPage < pageTotal}}
<a class="a_r _j_pageitem" data-page="${currPage + 1}" href="#">向右</a>
{{/if}}
<p><span id="current_page_num">${currPage}</span>/<span id="total_page_num">${pageTotal}</span></p>
{{if currPage > 1}}
<a class="a_l _j_pageitem" data-page="${currPage - 1}" href="#">向左</a>
{{/if}}
{{/if}}

</script>
<div class="reply re_f">
    <h2>留言区</h2>
    <div id="_j_left_comment_wrap">
    <div id="_j_leftCommentCnt">

<div class="re_con">
    <textarea cols="" rows="" class="_j_comment_pubarea" data-src_url="/photo_pk/comment.php?id=195302"></textarea>
    <a role="button" class="_j_comment_pubbtn">留言</a>
    <div class="clear"></div>
</div>


<ul class="_j_comment_list"></ul>
<div class="re_page _j_comment_pagination"></div>

<script type="text/x-jquery-tmpl" id="_j_comment_item">
{{each(i, comment) comment_list}}
<li class="_j_citem" data-cid="${comment.id}" data-username="${comment.user.name}">
    <h3>
        <a target="_blank" href="/u/${comment.uid}.html"><img alt="amily" src="${comment.user.logo_48}" style="width:16px; height:16px"></a>
    </h3>
    <strong>
        <a target="_blank" href="/u/${comment.uid}.html">${comment.user.name}</a>
    </strong>
    <span>${comment.ymdhitime}</span>&nbsp;{{if _uid == comment.uid}}<a role="button" class="_j_delete">删除</a>{{else}}<a role="button" class="_j_reply">回复</a>&nbsp;<a role="button" class="_j_quote">引用</a>&nbsp;<a role="button" data-japp="report" data-refer="http://www.mafengwo.cn/photo_pk/comment.php?id=195302" data-refer-uid="${comment.uid}" data-app="photo_pk.comment">举报</a>{{/if}}
    <div class="clear"></div>
    <p>${comment.content}</p>
</li>
{{/each}}
</script>



<script>
M.closure(function(require) {
    var MComment = require("/js/activity/MComment");
    new MComment({"objid":"195302","pubLogoSize":"w48","containerID":"_j_leftCommentCnt","commentItemTmpl":"_j_comment_item","id":"activity_comment","appid":"49","pagiTmpl":"_j_pagitmpl","pageSize":"5","_uid":"0"});
});
</script>

</div>

    </div>
</div>
<div class="reply re_r">
    <h2>留言区</h2>
    <div id="_j_right_comment_wrap">
    <div id="_j_rightCommentCnt">

<div class="re_con">
    <textarea cols="" rows="" class="_j_comment_pubarea" data-src_url="/photo_pk/comment.php?id=195326"></textarea>
    <a role="button" class="_j_comment_pubbtn">留言</a>
    <div class="clear"></div>
</div>


<ul class="_j_comment_list"></ul>
<div class="re_page _j_comment_pagination"></div>

<script type="text/x-jquery-tmpl" id="_j_comment_item">
{{each(i, comment) comment_list}}
<li class="_j_citem" data-cid="${comment.id}" data-username="${comment.user.name}">
    <h3>
        <a target="_blank" href="/u/${comment.uid}.html"><img alt="amily" src="${comment.user.logo_48}" style="width:16px; height:16px"></a>
    </h3>
    <strong>
        <a target="_blank" href="/u/${comment.uid}.html">${comment.user.name}</a>
    </strong>
    <span>${comment.ymdhitime}</span>&nbsp;{{if _uid == comment.uid}}<a role="button" class="_j_delete">删除</a>{{else}}<a role="button" class="_j_reply">回复</a>&nbsp;<a role="button" class="_j_quote">引用</a>&nbsp;<a role="button" data-japp="report" data-refer="http://www.mafengwo.cn/photo_pk/comment.php?id=195326" data-refer-uid="${comment.uid}" data-app="photo_pk.comment">举报</a>{{/if}}
    <div class="clear"></div>
    <p>${comment.content}</p>
</li>
{{/each}}
</script>



<script>
M.closure(function(require) {
    var MComment = require("/js/activity/MComment");
    new MComment({"objid":"195326","pubLogoSize":"w48","containerID":"_j_rightCommentCnt","commentItemTmpl":"_j_comment_item","id":"activity_comment","appid":"49","pagiTmpl":"_j_pagitmpl","pageSize":"5","_uid":"0"});
});
</script>

</div>

    </div>
</div>
<div class="clear"></div>
<div>
    <div class="p_fans fl p_fans1" id="_j_left_fans">
        <div class="ft">
    <strong><em>TA</em>的粉丝团</strong>
    <span>人气值29</span>
    <div class="clear"></div>
</div>
<ul class="list cf">
<li><a href="/u/49856650.html"><img src="http://n4-q.mafengwo.net/s7/M00/15/F3/wKgB6lTylcWAdZLaAAsf9-1swnQ608.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="jack" width="16" height="16" border="0"></a> <a href="/u/49856650.html" target="_blank">jack</a></li>
<li><a href="/u/42485995.html"><img src="http://c4-q.mafengwo.net/s9/M00/B7/4F/wKgBs1aVlt-AbfNkAAFJ_N1NnS455.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="独木成林" width="16" height="16" border="0"></a> <a href="/u/42485995.html" target="_blank">独木成林</a></li>
<li><a href="/u/792407.html"><img src="http://c3-q.mafengwo.net/s5/M00/28/1F/wKgB3FESkliAFGXXAADm6UCUbm844.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="不知所无" width="16" height="16" border="0"></a> <a href="/u/792407.html" target="_blank">不知所无</a></li>
<li><a href="/u/91521236.html"><img src="http://p1-q.mafengwo.net/s9/M00/16/A1/wKgBs1fXjE-AbvxaAA-kX2Ijlwc47.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="EAGLE" width="16" height="16" border="0"></a> <a href="/u/91521236.html" target="_blank">EAGLE</a></li>
<li><a href="/u/19575301.html"><img src="http://n2-q.mafengwo.net/s6/M00/85/D0/wKgB4lNIIQKAFNVJAAJwyGy5XVk50.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="大米饭1984" width="16" height="16" border="0"></a> <a href="/u/19575301.html" target="_blank">大米饭1984</a></li>
<li><a href="/u/68389998.html"><img src="http://c4-q.mafengwo.net/s9/M00/02/6C/wKgBs1f9IYSAXAq8ACGsPSI7N4U47.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="Cassie" width="16" height="16" border="0"></a> <a href="/u/68389998.html" target="_blank">Cassie</a></li>
<li><a href="/u/46683242.html"><img src="http://c3-q.mafengwo.net/s8/M00/A8/91/wKgBpVXquMOAf0KPAAQK0kP9sRs88.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="水清无鱼" width="16" height="16" border="0"></a> <a href="/u/46683242.html" target="_blank">水清无鱼</a></li>
<li><a href="/u/5146995.html"><img src="http://n3-q.mafengwo.net/s10/M00/75/92/wKgBZ1kieCeARffXAADN2myFIBw41.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="穆里尼奥John" width="16" height="16" border="0"></a> <a href="/u/5146995.html" target="_blank">穆里尼奥John</a></li>
</ul>

    </div>
    <div class="p_fans fr p_fans1" id="_j_right_fans">
        <div class="ft">
    <strong><em>TA</em>的粉丝团</strong>
    <span>人气值32</span>
    <div class="clear"></div>
</div>
<ul class="list cf">
<li><a href="/u/49856650.html"><img src="http://n4-q.mafengwo.net/s7/M00/15/F3/wKgB6lTylcWAdZLaAAsf9-1swnQ608.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="jack" width="16" height="16" border="0"></a> <a href="/u/49856650.html" target="_blank">jack</a></li>
<li><a href="/u/19188095.html"><img src="http://b4-q.mafengwo.net/s5/M00/A0/C0/wKgB3FGof9aAeZNwAADzDiI--HI32.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="一帆风顺" width="16" height="16" border="0"></a> <a href="/u/19188095.html" target="_blank">一帆风顺</a></li>
<li><a href="/u/19575301.html"><img src="http://n2-q.mafengwo.net/s6/M00/85/D0/wKgB4lNIIQKAFNVJAAJwyGy5XVk50.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="大米饭1984" width="16" height="16" border="0"></a> <a href="/u/19575301.html" target="_blank">大米饭1984</a></li>
<li><a href="/u/792407.html"><img src="http://c3-q.mafengwo.net/s5/M00/28/1F/wKgB3FESkliAFGXXAADm6UCUbm844.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="不知所无" width="16" height="16" border="0"></a> <a href="/u/792407.html" target="_blank">不知所无</a></li>
<li><a href="/u/68389998.html"><img src="http://c4-q.mafengwo.net/s9/M00/02/6C/wKgBs1f9IYSAXAq8ACGsPSI7N4U47.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="Cassie" width="16" height="16" border="0"></a> <a href="/u/68389998.html" target="_blank">Cassie</a></li>
<li><a href="/u/60281383.html"><img src="http://n4-q.mafengwo.net/s9/M00/C3/BC/wKgBs1eQHjGAZLFXAANrSTHnBm455.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="爽在天涯" width="16" height="16" border="0"></a> <a href="/u/60281383.html" target="_blank">爽在天涯</a></li>
<li><a href="/u/19894821.html"><img src="http://p3-q.mafengwo.net/s9/M00/DD/6B/wKgBs1ZQZP-AYb95AAcVvKXYN5Q70.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="咕的猫尼" width="16" height="16" border="0"></a> <a href="/u/19894821.html" target="_blank">咕的猫尼</a></li>
<li><a href="/u/92057772.html"><img src="http://c1-q.mafengwo.net/s9/M00/BB/0A/wKgBs1aVpR2AHM6bAAIVgzgUXcw30.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90" alt="aa" width="16" height="16" border="0"></a> <a href="/u/92057772.html" target="_blank">aa</a></li>
</ul>

    </div>
</div>
<div class="clear"></div>
<div class="new_upload">
    <div class="h3">最新上传</div>
    <div class="list">
        <ul>
                <li><a href="/photo_pk/pk.php?lid=197513"><img src="http://p3-q.mafengwo.net/s10/M00/DA/9D/wKgBZ1jRNxaASOBFAAxXLqgHYv084.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="树丛里神奇の猴子" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197510"><img src="http://c1-q.mafengwo.net/s8/M00/5E/5E/wKgBpVWA0CiARC_tAAIQkbj6wYM45.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="在这里呀在这里~" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197507"><img src="http://b1-q.mafengwo.net/s10/M00/67/19/wKgBZ1lOd_GAWls1AAKeiv6GhVA42.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="大师兄" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197504"><img src="http://c4-q.mafengwo.net/s10/M00/E9/06/wKgBZ1moNNKAO-1GAAFJ0mQHq_427.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="鴕鳥搶我相機呀，還鵮我手！" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197501"><img src="http://n2-q.mafengwo.net/s10/M00/E8/9B/wKgBZ1moNGSAISjKAAV0bF-vbv874.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="中正紀念堂餵松鼠" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197498"><img src="http://p4-q.mafengwo.net/s10/M00/BC/01/wKgBZ1moCHyAVw_NAEqQNFXT8iQ11.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="翔" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197495"><img src="http://p2-q.mafengwo.net/s10/M00/A2/27/wKgBZ1mn7PCAcFzZAFEAAMIaHbs82.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="放松" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197492"><img src="http://n4-q.mafengwo.net/s10/M00/A1/A8/wKgBZ1mn7ImAODMZAIQ_D55_VSI09.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="期待已久的星空" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197489"><img src="http://c1-q.mafengwo.net/s10/M00/A1/79/wKgBZ1mn7FGATFHUABWcyvKEVak11.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="海星" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197486"><img src="http://n4-q.mafengwo.net/s8/M00/9D/23/wKgBpVXdlSWAYfDlAAKfv33Sk_498.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="母女照" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197483"><img src="http://p3-q.mafengwo.net/s10/M00/A1/1C/wKgBZ1mn642AEdoHACrXk8ASfPI88.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="小鹿" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197480"><img src="http://n1-q.mafengwo.net/s10/M00/A0/C3/wKgBZ1mn6yuAUi8vADh5hhyOp4M29.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="小象洗澡" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197477"><img src="http://c3-q.mafengwo.net/s8/M00/9C/1F/wKgBpVXdlBiAAxLPAARXUOGZCZ414.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="一条到晚游泳的鱼" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197474"><img src="http://b2-q.mafengwo.net/s10/M00/94/0B/wKgBZ1mn2WCAaljCABpLrQs8nzI68.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="我也不知道叫什麼的一種可愛動物" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197471"><img src="http://p1-q.mafengwo.net/s10/M00/93/80/wKgBZ1mn2MGAN4auABkWJ0Laxu453.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="我也不知道叫什麼的一種可愛動物" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197468"><img src="http://n2-q.mafengwo.net/s10/M00/93/3F/wKgBZ1mn2IOADItcAB5zcTZnONo31.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="我也不知道叫什麼的一種可愛動物" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197465"><img src="http://p3-q.mafengwo.net/s8/M00/A3/50/wKgBpVUtx5SASm__AAoYkypcS-o55.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="小帅象" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197462"><img src="http://p4-q.mafengwo.net/s9/M00/78/7F/wKgBs1a9z4OAZaPxAAPMegLj6aA84.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="非洲的企鹅" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197459"><img src="http://b4-q.mafengwo.net/s10/M00/20/60/wKgBZ1lwYcyAAgwiAAssPD7KWU818.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="蓝眼睛" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197456"><img src="http://n4-q.mafengwo.net/s8/M00/99/D1/wKgBpVV_8l-AUqMlABJW5ShXSiM21.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="羊咩咩" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197453"><img src="http://c2-q.mafengwo.net/s10/M00/F3/83/wKgBZ1l6zqOAeJe7AAO9hiMfx1s10.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="海鸥飞舞" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197450"><img src="http://p3-q.mafengwo.net/s7/M00/5E/D3/wKgB6lRl86GAQqbBAANUZsUpnbA60.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="水母" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197447"><img src="http://b1-q.mafengwo.net/s7/M00/5E/AF/wKgB6lRl83WAWeM6AAWSEUvg93Q67.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="你的歌声是最美的回应" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197444"><img src="http://n4-q.mafengwo.net/s9/M00/CF/00/wKgBs1eQN1aASn9KABAUrtsFkZo49.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="哥俩好" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197441"><img src="http://p3-q.mafengwo.net/s9/M00/D0/7B/wKgBs1eQOZmAJqpSABWxelcEqgw33.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="象龟" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197438"><img src="http://p2-q.mafengwo.net/s10/M00/2A/01/wKgBZ1mnaeKADv6WAEk7Oe0g1Kg13.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="喂食" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197435"><img src="http://n4-q.mafengwo.net/s10/M00/29/21/wKgBZ1mnaFqAPZICAGBwk7apXzk73.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="海边的汪" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197432"><img src="http://b4-q.mafengwo.net/s9/M00/D3/25/wKgBs1hK6teAF0acAAKN6DJeFpY48.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="和树木一个样" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197429"><img src="http://p2-q.mafengwo.net/s10/M00/E4/0D/wKgBZ1mmp86AHgy5AGATi0b7aAw79.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="温馨一刻" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197426"><img src="http://b3-q.mafengwo.net/s10/M00/E3/D0/wKgBZ1mmp0OAfBjpAEL3q8spkzw85.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="你好" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197423"><img src="http://b3-q.mafengwo.net/s10/M00/E3/7D/wKgBZ1mmpoyALNX-AALW-W6Ldnw08.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="不小心打扰了喵大人的午觉" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197420"><img src="http://n3-q.mafengwo.net/s10/M00/E8/EC/wKgBZ1mlFhmAY_P5AEtWAMZ6bg089.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="肖恩的亲戚们" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197417"><img src="http://p3-q.mafengwo.net/s10/M00/E1/92/wKgBZ1mmo36ACkrEAC16nDwSrq457.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="没有吃的就不要打扰我带娃散步" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197411"><img src="http://c4-q.mafengwo.net/s10/M00/E2/C9/wKgBZ1mbrbiACG9lAA4FguDEom098.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="嬉闹的小麻雀" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197408"><img src="http://c1-q.mafengwo.net/s10/M00/B0/B1/wKgBZ1mbpquAMnn2AAs9MSq8VOA46.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="金雕" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197405"><img src="http://b4-q.mafengwo.net/s10/M00/A1/FA/wKgBZ1mmX8KANGJGAAC0Ikod0Nc78.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="我在高处看着你" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197402"><img src="http://n2-q.mafengwo.net/s10/M00/A1/81/wKgBZ1mmX0SAZB9HAADspzBBRzI17.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="看我们姐妹俩够千斤吗" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197399"><img src="http://b1-q.mafengwo.net/s10/M00/9E/A4/wKgBZ1mmXICAAcpbAAO8Kp2gnOI56.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="落日和马" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197396"><img src="http://p4-q.mafengwo.net/s9/M00/D3/FD/wKgBs1cneY2AaPRjACizMMD86gY02.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="米岛可爱的鹈鹕" width="75" height="75" border="0"></a></li>
                <li><a href="/photo_pk/pk.php?lid=197393"><img src="http://p3-q.mafengwo.net/s9/M00/98/3F/wKgBs1fgCHCAcSvzAAkI3uU_rQw95.jpeg?imageMogr2%2Fthumbnail%2F%2175x75r%2Fgravity%2FCenter%2Fcrop%2F%2175x75%2Fquality%2F90" alt="查理大桥河畔的天鹅" width="75" height="75" border="0"></a></li>
                </ul>
        <div class="clear"></div>
    </div>
  </div>
<div class="event_help">
    <dl class="col1">
      <dt class="h3">本期奖品</dt>
      <dd class="col_cont">
                <span class="meed1"><img src="http://c2-q.mafengwo.net/s10/M00/51/B2/wKgBZ1mdJDeAPwhEAAAjYwXPhjQ763.png" title="运动蓝牙耳机" alt="运动蓝牙耳机">运动蓝牙耳机</span>
                <span class="meed2"><img src="http://p3-q.mafengwo.net/s10/M00/51/3B/wKgBZ1mdI8qAeKiaAABrYyHfNmA172.png" title="膳魔师运动水杯" alt="膳魔师运动水杯">膳魔师运动水杯</span>
                <span class="meed3"><img src="http://n4-q.mafengwo.net/s10/M00/51/46/wKgBZ1mdI9WAF-M7AABRRLUMlSA690.png" title="涂鸦小恶魔充电宝" alt="涂鸦小恶魔充电宝">涂鸦小恶魔充电宝</span>
              </dd>
    </dl>
    <dl class="col2">
      <dt class="h3">关于作品</dt>
      <dd class="col_cont"><p style=" margin-bottom: 10px;">1.本季赛事为主题赛<strong style="color:#FFA800;">《神奇动物在哪里》</strong>
<p style=" margin-bottom: 10px;">2.上传的作品画面必须是与“<strong style="color:#FFA800;">旅行中遇见的动物</strong>”有关的照片。不符合主题的作品将会被删除</p>
<p style=" margin-bottom: 10px;">3.在照片简介中。用50个字以内说明拍摄照片的故事内容。照片简介是否精彩会成为大家投票的标准。
<p style=" margin-bottom: 10px;">4.参赛作品必须是原创作品</p></dd>
    </dl>
    <dl class="col3">
      <dt class="h3">关于投票</dt>
      <dd class="col_cont">
        <p>1.本季投票保留了每人每天10票的投票权。</p>
        <p>2.增加了人气指数：凡一人投票就得一个人气指数。有多少人支持就有多少人气指数。一个人气指数按等级划分如下：Lv.3-Lv.7人气票为10票、Lv.8-Lv.12人气票为25票、Lv.13以上人气票为50票。</p>
        <p>3.总票数=每日获得的投票+人气指数所换算成的票数。页面当前的票数已经包含了人气指数所转化的票数。</p>
        <p>4.在本季赛中，系统发现恶意马甲投票，将会处以惩罚，情节严重将被取消参赛资格。</p>
      </dd>
    </dl>
    <div class="clear"></div>
</div>
</div>

<link href="http://css.mafengwo.net/css/mfw-footer.css?1493174418" rel="stylesheet" type="text/css"/>

<div id="footer">
	<div class="ft-content">
		<div class="ft-copyright">
    <div class="ft-safety">
        <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
        <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
        <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
    </div>
    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
    <p>© 2017 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a> 京公网安备110105013401号 <a href="http://images.mafengwo.net/images/about/icp.jpg" target="_blank" rel="nofollow">京ICP证110318号</a></p>
    <p><a href="http://images.mafengwo.net/images/about/licence.jpg" target="_blank" rel="nofollow">营业执照</a> 新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
</div>
	</div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
		<a role="button" class="btn _j_gotop">
			<i class="icon_top"></i>
            <em>返回顶部</em>
		</a>
	</div>
	<div class="toolbar-item-feedback">
		<a role="button" data-japp="feedback" class="btn">
			<i class="icon_feedback"></i>
            <em>意见反馈</em>
		</a>
	</div>
	<div class="toolbar-item-code">
		<a role="button" class="btn">
			<i class="icon_code"></i>
		</a>
		<a role="button" class="mfw-code _j_code">
            
			
            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
		</a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
	</div>
    <div class="toolbar-item-down">
		<a role="button" class="btn _j_gobottom">
			<i class="icon_down"></i>
            <em>页面底部</em>
		</a>
	</div>
</div>



<script language="javascript" type="text/javascript">
if (typeof M !== "undefined" && typeof M.loadResource === "function") {
M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+AHeaderWo:js+jquery.tmpl:js+M+module+Pagination:js+activity+MComment:js+jquery.upnum:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+Slider:js+photo_pk+APK:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlNV^1493174421.js");
}
</script>

</body>
</html>
